
@{
    ViewData["Title"] = "AddFile";
}


<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">用户管理</a><span lay-separator="">/</span>
            <a><cite>用户列表</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-useradmin-formlist">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="demoTable">
                            搜索ID：
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="classname" autocomplete="off">
                            </div>
                            <button class="layui-btn" data-type="reload">搜索</button>
                            <div class="layui-inline">
                                <button type="button" class="layui-btn" id="test4"><i class="iconfont icon-icon--"></i>上传文件</button>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="test" lay-filter="test"></table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" href="{{d.url}}">下载</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-id="{{d.id}}" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>



<script>

    function uploadFile() {
        var request = new XMLHttpRequest();
        var form = new FormData();
        form.append("Id", 23); // 数字23被立即转换成字符串"23"
        var fileInputElement = $("#fileImg").get(0); // fileInputElement中已经包含了用户所选择的文件 
        form.append("files", fileInputElement.files[0]); 
        request.open("POST", "@Url.Action("UploadFile")");

        request.send(form);
    }

    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '@Url.Action("DataList")'
            , toolbar: '#toolbarDemo'
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
                , { field: 'name', title: '文件名称' }
                , { field: 'url', title: '地址' }
                , { field: 'createTime', title: '创建时间', sort: true },
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
            ]]
            , id: 'testReload'
            , page: true
        });

        table.on('tool(test)', function (obj) {
          
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.post("@Url.Action("DeleteFile")", { id: obj.data.id },
                        function (data) {
                            if (data.code == 0) {
                                layer.msg("操作成功", { time: 1000 }, function() {
                                    location.reload();
                                });
                            } else {
                                layer.msg("操作失败");
                            }
                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

    })

    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        upload.render({ //允许上传的文件后缀
            elem: '#test4'
            , url: '@Url.Action("FormDataUploadFile")'
            , accept: 'file' //普通文件
            , exts: 'zip|rar|7z|xlsx|doc|docx' //只允许上传压缩文件
            , done: function (res) {
                layer.msg("上传成功", { time: 1000 }, function () {
                    location.reload();
                });
            }, error: function (index, upload) {
                layer.msg("文件上传失败");
            }
        });
    })

</script>